[2017-06-26 19:42] timelyportfolio opened #1 "missing render and resize events"
Thank you so much for converting this!  I discovered that `render` and `resize` events are no longer exposed as they were before (see [lines](https://github.com/syntagmatic/parallel-coordinates/blob/master/src/events.js#L1)).  Was this intentional?

[2017-06-28 23:45] BigFatDog commented on #1
Thank you for your input! This is a bug with event dispatching with my code.
version 1.0.1 has been released with bug fixes

[2017-06-28 23:45] #1 closed

[2017-09-25 21:31] timelyportfolio commented on #1
I just realized I never said thank you.  Thank you so much!  I plan to re-invigorate my efforts incorporating d3v4, so I will report back with anything else I find.  I really, really appreciate your efforts on this conversion.

[2017-09-27 06:13] BigFatDog commented on #1
You're welcome. I'm happy that you find my works useful and inspiring.  Your appreciation encourages me, too.
I've completely upgraded my visualizations to d3 v4 after experiencing some failures. Now I feel i'm on the right track.

Keep enjoying v4!

[2017-11-08 11:17] mutantkeyboard opened #2 "NPM install issue"
Hi @BigFatDog
Thank you one more time for porting this to ES6.
For some reason when installing from NPM, module name is not `parcoords-es`, but `parcoord-es`,
so `npm install parcoord-es --save` works, while `npm install parcoords-es --save` doesn't.

[2017-11-09 02:58] BigFatDog commented on #2
Hello.
I'd keep 'parcoord-es'. Readme has been revised accordingly.
Thank you for your input.

[2017-11-09 02:58] #2 closed

[2018-01-23 15:11] ManiacalAce opened #3 "Brush not appearing on axes which have string values?"
Also tried on the 'reddit' example in the included demo folder.

Whenever there's a string axis, the brush doesn't appear and stuff is not filterable.
This feature works on the original parcoords.

Can this be fixed?
Were there heavy modifications in this fork?

[2018-01-23 17:15] BigFatDog commented on #3
I'll look into this issue and fix it. It may take me around a week to do it.

Yes, there are a lot of modifications due to D3 V4's breaking changes.

[2018-01-24 18:05] BigFatDog commented on #3
Hello!
Bugs have been resolved. Please upgrade to v1.0.2. Reddit sample works, too.

[2018-01-24 21:54] ManiacalAce commented on #3
Nice! I'll check and revert back. Thanks for the fix.
At the moment I've had to proceed with the original lib.

[2018-01-27 09:58] Abhijeet-Das opened #4 "Multi brush demo in d3 V4 ?"
Firstly great work on parallel coordinates with updates on much needed D3 V4.

I have found a sample parallel coordinate with numerical and string axis in D3 V4 like  this
http://plnkr.co/edit/dCNuBsaDNBwr7CrAJUBe?p=preview

I am looking to have multiple brush feature on an axis in that example ,something like this http://bl.ocks.org/bollwyvl/8463137 .

So do you have a demo example of multi brush

[2018-01-28 21:08] Abhijeet-Das commented on #4
Hello,
Thanks a lot for your time and expert feedback. I am a newbie to the d3 world , so trying to learn from the working examples, but the version update is sometimes tricky.  I will follow your suggestions to make use of canvas and queue rendering on my parallel coordinate.  And, may be, I will wait for the multi brush library to come in V4.
Thanks again and I hope to learn and explore more fro

[2018-01-28 21:20] BigFatDog commented on #4
Anytime.

[2018-01-29 19:03] ManiacalAce commented on #3
I tried with the latest changes and things seem to be ok.

Using this lib now instead of original. Had some issues with configuring dimensions in original which doesn't seem to have issues here.

Thanks again for the fix. Here's hoping things go smoothly.

[2018-01-29 19:03] #3 closed

[2018-03-02 15:32] ManiacalAce opened #5 "Click on axis to reset brush does't work"
Is it possible to match the behaviour of the original pcoords as shown here?
http://syntagmatic.github.io/parallel-coordinates/examples/brushing.html

In the above example, after applying a brush on an axis, if I click somewhere on the axis, the brush and the selection gets reset for that axis

In this version of the lib, it's a bit difficult to use. You can never really clear the brush on a singl

[2018-03-03 03:15] BigFatDog commented on #5
Hello, fixed. please use version: 1.0.3.

[2018-03-03 16:24] ManiacalAce commented on #5
Thanks! Works now :D

[2018-03-03 16:24] #5 closed

[2018-03-19 13:20] wvpelt commented on #4
any news on added support for multibrush?

[2018-03-19 13:24] BigFatDog commented on #4
This is still a limitation of parcoords-es. I may work on this feature in the next week.

[2018-03-19 13:25] wvpelt commented on #4
That would be great! Meanwhile I'll try to find a solution myself. I just stumbled across this: http://bl.ocks.org/ludwigschubert/0236fa8594c4b02711b2606a8f95f605
which seems to be multi brush functionality in d3 v4

[2018-03-19 13:42] BigFatDog commented on #4
I'll take a closer look at the link you provided as well as other available samples.
My primary goal is to add multi brush to parccords-es, moreover, it would be ideal to publish a standalone d3-v4 multi-brush  along with fixing this issue.

It's quite interesting that when I don't know how to develop a feature on d3.js (or, feels too difficult to do it), I just wait.  People always make inspiring

[2018-03-20 07:51] wvpelt opened #6 "How to correctly set brushExtents"
Using the following code, I'm trying to set a brush extent, I just took this from the demo example.

[code]

But when the brushExtents gets executed I get an error in the brushExtents function:

BrushExtents function:
[code]

[2018-03-20 14:00] BigFatDog commented on #6
This is a bug. Version 2.0.3 has been released with the bug fix.

[2018-03-20 17:45] wvpelt commented on #6
Great! Thanks for the quick response!

[2018-03-20 17:58] BigFatDog commented on #6
You're welcome.

[2018-03-20 19:57] #6 closed

[2018-03-22 11:09] yluijten opened #7 "Setting nullValueSeparator causes error"
Set the `nullValueSeparator` to `bottom` causes the following error in console:

`ERROR ReferenceError: h is not defined`

It looks like the `height` property is not accessible. Maybe you've forgot to import the heigh utility in `index,js` file.

Any ideas?

[2018-03-22 11:32] BigFatDog commented on #7
which version are you using?

[2018-03-22 11:37] BigFatDog commented on #7
I just have checked code throughout for the occurrence of *height*, I looks fine.

Please check if you're using the latest version: *2.0.3*. If not, upgrading to *2.0.3* will fix the problem

[2018-03-22 12:04] yluijten commented on #7
I was running version 2.0.2. Upgrading to 2.0.3 fixed the problem. Thanks!

[2018-03-22 12:13] BigFatDog commented on #7
You're welcome.

[2018-03-24 20:56] #7 closed

[2018-03-30 14:26] ManiacalAce commented on #4
+1 polite nudge for this feature.

[2018-04-07 00:02] BigFatDog commented on #4
Done. Please upgrade to v2.0.4 to use 1D multi brushes.

Also please refer to [release notes](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.0.4) for setting brush extent when 1D multi brushes mode is used.

[2018-05-06 23:56] cfrankowski opened #9 "ParCoords.dimensions() yscale not working?"
Changing the scale with .dimension(dimension) is not working for me.

Setting a custom scale with yscale has been removed from the dimensions object in the axis-config example as well.

[2018-05-08 20:44] BigFatDog commented on #9
Fixed. v2.0.5 has been released with the bug fix

[2018-05-08 20:45] #4 closed

[2018-05-08 21:03] BigFatDog commented on #9
please also refer to [demo/axis-config-2.html](https://github.com/BigFatDog/parcoords-es/blob/master/demo/axis-config-2.html) for to usage.

[2018-05-08 21:03] #9 closed

[2018-05-16 19:27] ManiacalAce opened #10 "Click-axis-to-reset-brush does not work with multi brush?"
The multi brush feature works nicely, but in that mode it seems we can no longer click on the axis to clear the brushes.

In single-brush mode, it click-to-reset still works fine.

This can be seen in the included demo for multi-brushes.

[2018-05-21 13:15] BigFatDog commented on #10
@ManiacalAce Thank you for your understanding.
In fact I've worked on this for two nights in the last week, but didn't solve this.

I want to fix this bug in the coming week.

[2018-05-21 15:44] maalej opened #11 "d3.csvParse instead of d3.csv.parse"
First of all, let me thank you for this awesome library, just a small fix here
https://github.com/BigFatDog/parcoords-es/blob/master/demo/upload.html#L159
Use d3.csvParse instead of d3.csv.parse
Thanks

[2018-05-22 14:27] #11 closed

[2018-05-22 14:28] BigFatDog commented on #11
Thank you for your appreciation.
This bug is fixed in v2.0.6.

[2018-05-22 14:33] BigFatDog commented on #10
@ManiacalAce Done.
 [v2.0.6](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.0.6) has been released with the bug-fix.

[2018-05-22 15:40] ManiacalAce commented on #10
Nice!
Has this been published to npm? I still get 2.0.5 as latest from npm install.

[2018-05-22 17:15] BigFatDog commented on #10
Are you using the [brush.html](https://github.com/BigFatDog/parcoords-es/blob/master/demo/brushing.html) for testing?

[2018-05-23 02:00] BigFatDog commented on #10
@ManiacalAce I haven't got your idea yet.

When chart is loaded without any brush action, let's call this the initial state.
* In ``1D-axes`` mode:  add a brush, click axis to reset brush of the axis, chart is restored to the initial state.
* In ``1D-axes-multi`` mode, add two brushes on one axis, click axis to reset brushes of the axis, chart is restored to the initial state, too.

Behaviors of c

[2018-05-23 06:58] ManiacalAce commented on #10
@BigFatDog Sorry for the delay. I'll get back to you with a concrete example in 5-6 hours. I wasn't using the included examples - I was basing it off of observations in my product where we use this lib.

The gist of it is that it seems like in multi mode, clicking to reset seems to select everything on the chart.

Let me re-verify and get back to you by evening.

[2018-05-23 16:36] ManiacalAce commented on #10
@BigFatDog Seems like my issue stems from something else related to colors.

I was trying to have one color for regular, untouched stuff, and a different color for brushed items - which i could swear was possible in the original fork of this lib.

For example, If I have this (with `color` and `brushedColor`)
[code]

Initially, the lines are blue, as expected. Then when I brush some items, they bec

[2018-05-24 14:18] BigFatDog opened #12 "numerical dimension type is not dectected"
Currently numerical dimension types are recognized as strings.

[2018-05-24 14:27] #12 closed

[2018-05-28 23:22] BigFatDog opened #13 "After Click-to-Reset 1d-axes-multi brush, paths are rendered in brush color"
@ManiacalAce has discovered this bug in issue #10 Click-axis-to-reset-brush does not work with multi brush?

Thanks @ManiacalAce for the detailed descriptions, the bug is described as below:

    var pc = ParCoords({nullValueSeparator: "bottom"})("#example")
        .data([
            [0,-0,0,0,0,1],
            [1,-1,1,2,1,1],
            [2,,4,4,0.5,1],
            [3,,9,6,,],
            [4,-4

[2018-06-13 21:35] joshhjacobson opened #14 "Use of selected() function"
Hi,

I'm trying to use `pc.selected()` to return all data within brush extents ("1d-axes"). For example,

[code]

However, I get a "TypeError: pc.selected is not a function"

Am I using this function correctly? If not, how else could I obtain all data within the brush extents as an array? Apologies if the solution is obvious, I'm still new to Javascript. Thanks!

[2018-06-14 12:56] BigFatDog commented on #14
Hi Josh,
There is no `selected` function. To get data within brush extents, you may use:
[code]
Please never worry about your Javascript skills (How can a man know everything?) You're always welcomed to submit issues here.

[2018-06-14 17:55] joshhjacobson commented on #14
Thanks for the quick reply!
My issue with that method is I'm using `pc.brushed(new_array)` to manually edit what is brushed, and I need a separate method to simultaneously obtain what is actually in the brush extents.

On line 167 of parcoords.js I'm seeing:
[code]
and on line 3092 as a part of the `ParCoords` function:
[code]
There is also a file for this `selected` function in the api folder.

T

[2018-06-14 18:03] joshhjacobson opened #15 "updateAxes() broken?"
When using the `updateAxes` function, I get the following error: _TypeError: node is null_

For a reproducible example, I've added it to brushing.html:

[code]

Any insight would be appreciated!

[2018-06-14 20:40] BigFatDog commented on #14
This is indeed a bug. `pc.selected()` now has been exposed as api.
Version `2.1.0` has been released with the bug-fix.

`pc.brushed` can be used in two ways:
[code]

[2018-06-14 20:45] BigFatDog commented on #15
Confirmed a bug. Version 2.1.0 has been released with the bug-fix

`updateAxes` should be used after changing dimension orders, other than in `brushend` events. (Brushing on a dimension doesn't change its corresponding axis. furthermore, `updateAxes()` will brush chart again, which will result in triggering `brushend` event infinitely)

[2018-06-15 00:42] joshhjacobson commented on #14
This is a dream come true! The only thing I'm noticing here is that `pc.selected()` will return the entire data set when no axes are brushed. Since nothing is actually selected, wouldn't we want to return an empty array in this case?

[2018-06-15 00:52] joshhjacobson commented on #14
Another strange thing happens when working with two ParCoords variables:

[code]

The two plots seem to be linked, in that `console.log(pc1.selected())` and `console.log(pc2.selected())` always return the same data even when brushes are different between plots. Could this be because of the way I'm loading the data?

Interestingly, you must also click the brushReset button twice in order for both p

[2018-06-15 01:14] joshhjacobson opened #16 "Axes configuration"
`pc.scale(input_axis, [lower, upper])` successfully adjusts the yscale domain and ticks of an axis, but the axis itself is the only thing affected -- the polylines are not adjusted. How would I go about updating the plot to match the new axis domain?

I'm guessing it has something to do with `pc.applyAxisConfig()` but I'm unsure what the correct parameters should be. Thanks for the help!

[2018-06-16 20:17] BigFatDog commented on #16
I've tested this api and usage should be:
[code]
I can filter data accordingly when `pc.scale` is called, but I tend to not do this because it is end user who should control data via `pc.data`. If I filter data with `pc.scale`, end user will lose the track of what the current data is.

What do you think?

[2018-06-16 21:36] joshhjacobson commented on #16
I agree that `pc.scale` should not manipulate the data; that should be left to `pc.data`. Actually, my goal should not even require the data to be filtered. I want to expand the axis and have the data re-mapped so that the range appears more consolidated. I think the code should look something like this:

[code]

But what I get is simply:
<img width="112" alt="before" src="https://user-images.gith

[2018-06-17 02:03] BigFatDog opened #18 "scale api allows user to specify a customized scale"
Per @ joshhjacobson 's feature request in issue #16

[2018-06-17 03:12] BigFatDog commented on #16
[v2.1.1](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.1) has been released with the bug-fix.

[2018-06-17 03:12] BigFatDog commented on #15
[v2.1.1](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.1) has been released with the bug-fix.

[2018-06-17 03:14] BigFatDog commented on #14
[2.1.1](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.1) has been released with the `selected` api.
However, there are still bugs unsolved in this conversion. The remaining bugs will be fixed in further releases.

[2018-06-17 09:46] ciukstar opened #20 "ERROR in ./node_modules/parcoord-es/dist/parcoords.mjs 1035:12-17 Can't import the named export 'mouse' from non EcmaScript module (only default export is available)"
Hi! I keep getting these errors on '`ng build`' and before renaming the file './node_modules/parcoord-es/dist/parcoords.mjs' to something like './node_modules/parcoord-es/dist/Xparcoords.mjsX'. I use Angular 6. As I understand, there are some problems with webpack and .mjs files. What is the best way to deal with this problem. I keep getting these errors after each '`npm update`' of parcoords-es:

[2018-06-17 12:34] BigFatDog commented on #20
Hello. Would you please provide more information about your environment?
* Webpack version
* webpack config
* Sample code

Will there be any problem if you keep `.mjs` file unchanged?

[2018-06-17 20:02] BigFatDog opened #21 "Two parcoords instances are linked"
@joshhjacobson mentioned a bug in #14 's follow up:

[code]

[2018-06-17 20:04] BigFatDog opened #22 "When no brushes are applied, selected() should return empty data other than entire data set"
@joshhjacobson mentioned this bug in #14's conversion:

[2018-06-17 20:06] BigFatDog commented on #14
The two more bugs that you've found are tracked in:
* #21 Two parcoords instances are linked
* #22  When no brushes are applied, selected() should return empty data other than entire data set

[2018-06-18 18:20] BigFatDog commented on #21
Fixed. [v2.1.2](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.2) has been released with bugfix

[2018-06-19 18:30] joshhjacobson commented on #15
Thanks! This seems to have handled all the console errors, and axis reordering is _mostly_ functional. While testing, I noticed a bug where the right-most axis seems to become disconnected from the canvas. You can still interact with all the other axes by dragging them around and brushing, but the right-most one is unresponsive. If you drag another axis toward it, the polylines will adjust accordi

[2018-06-19 18:42] joshhjacobson commented on #21
Looks great! In the example I provided above, the plots are visually independent. Brushing works as expected with no connection between plots and the brush reset button works with one click.

In the console, I did notice that `pc.selected()` still returns the same data for both plots when brushes are different between plots, but maybe this is part of a different issue now?

[2018-06-19 19:05] BigFatDog commented on #21
Let's keep the issue of `pc.selected()` here. I'll schedule another release for the bug-fix

[2018-06-19 19:29] BigFatDog commented on #21
[v2.1.3](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.3) has been published with the bug-fix

[2018-06-19 19:34] joshhjacobson commented on #16
I've tested your new set-scale example in the demos folder, and while the polylines are now rendered to the correct location on the axis, the call to `pc.scale('year', [30, 90])` breaks with _TypeError: pc.render().default is not a function, scale.js:4:4_ .

Thus, the axis ticks are not updated:
<img width="60" alt="scale" src="https://user-images.githubusercontent.com/23021614/41619914-428b15cc-7

[2018-06-19 19:45] joshhjacobson commented on #21
Perfect, it works!

[2018-06-20 01:37] #21 closed

[2018-06-20 01:37] #14 closed

[2018-06-24 14:33] BigFatDog commented on #16
[v2.1.4] has been published with the bug-fix

[2018-06-24 14:37] BigFatDog commented on #15
You're welcome.
The above problem is a bug. I observe that when a hidden axis is revealed, it cannot be dragged or brushed.

[2018-06-25 13:00] timelyportfolio commented on #15
@BigFatDog, not sure if this is related or should be a separate issue, but on reorder of axes (reproducible [example](https://beta.observablehq.com/@timelyportfolio/simple-example-from-parcoord-es)), I get

![image](https://user-images.githubusercontent.com/837910/41851531-ce11d554-784d-11e8-9422-f4b2fe62a4c4.png)

[2018-06-25 18:40] sam140 opened #25 "Draw Horizontal line in the PCP chart"
Is there any way to draw a horizontal line based on some value like we will have a separate Y axis scale then we want draw a horizontal line in the pcp chart.

[2018-06-26 17:24] joshhjacobson commented on #16
Looks great! Thank you for your consistent and quality work!

[2018-06-26 20:06] BigFatDog commented on #16
Thanks for your appreciation of my work. You've contributed detailed code samples and keen observations to issues, and that help me a lot resolve problems.

[2018-06-26 20:06] #16 closed

[2018-06-26 20:39] BigFatDog opened #26 "when a hidden axis is revealed, it is detached from control (reorderable, brushes, etc)"
@joshhjacobson has discovered this bug in issue #15
Thank @joshhjacobson for the detailed information

<img width="517" alt="show" src="https://user-images.githubusercontent.com/23021614/41616752-fbfa2c5a-73bb-11e8-88dc-34f4f7bb5c9c.png">

[2018-06-26 20:44] BigFatDog opened #27 "reorderable doesn't work with demo/basic.html"
@timelyportfolio contributed this bug in #15

Thank @timelyportfolio for also providing an online example that reproduces this issue.

[2018-06-27 02:51] BigFatDog commented on #15
@timelyportfolio  #27 is opened to track this bug.

Your words on observable link are warm and inspiring. Those words let me recall your article that I read long ago: "Time isn't money" -- I feel strongly that my time that are contributed to open-source are valued and my efforts are respected.

Thank you a lot for your kindness and understanding. All the best!

Yun

[2018-06-27 02:51] BigFatDog commented on #15
@joshhjacobson 's issue is tracked in #26
@timelyportfolio 's issue is tracked in #27

[2018-06-28 21:38] timelyportfolio commented on #15
Very appreciative of your work @BigFatDog and very likely will be in position to contribute over the next couple of months.  Thanks so much!

[2018-06-29 16:19] timelyportfolio commented on #27
@BigFatDog, I was able to look a little more closely and it appears `entries` [here](https://github.com/BigFatDog/parcoords-es/blob/5959a719ec0447ce6864712ebfabe881ac65b85c/src/util/colorPath.js#L45) does not return correct order of dimensions.

[2018-06-29 19:56] BigFatDog commented on #25
Hi, Would you please elaborate more details on this issue?
What's PCP chart? It would be great if you can provide some mock up or sample code.

[2018-07-02 14:23] #15 closed

[2018-07-02 14:32] timelyportfolio commented on #27
@BigFatDog I just added an array of objects data source to the [example](https://beta.observablehq.com/@timelyportfolio/simple-example-from-parcoord-es) and this works as expected, so the issue is only with array of arrays data.

[2018-07-02 14:48] BigFatDog commented on #27
@timelyportfolio I've debugged for a while, too. I've made some progress but still cannot fix this bug yet.

According to my current observation, the root cause may reside in numeric indexes (when a matrix data is loaded and index is assigned as dimension title.).

When user reorders dimensions, indexes are re-calculated for each dimension and each dimension then re-assigned to parcoords state [he

[2018-07-02 14:50] BigFatDog commented on #27
I've checked the code that you've mentioned. I need more time than I expected on this bug.

[2018-07-03 01:20] BigFatDog commented on #27
[v2.1.5](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.5) has been released with the bug-fix

[2018-07-03 13:51] timelyportfolio commented on #27
@BigFatDog, thank so much for this.  I just updated the example and both array of arrays and array of objects worked as expected.  Love going back to old school `Object.keys` :)  I hope to do some more research on this to figure out how to handle with `d3-entries` for reference.  Thanks again!!!

[2018-07-03 14:18] BigFatDog commented on #27
@timelyportfolio You're welcome! Your observations (based on digging into the code) help me resolve this problem.

In fact `entires` of `d3-collection` is fine. I just tried the following code and it works:
[code]
I agree with you that dimension order is incorrect with this issue. I've tried to fix dimension orders but failed. My approach is to sort the x-y coordination when a line is drawn:
[code

[2018-07-09 22:08] joshhjacobson opened #30 "flipAxisAndUpdatePCP() broken"
Hi,

I believe this is a minor bug. When you double click the axis title to flip an axis, the polylines will update but the axis itself does not. The console gives: `TypeError: brushes[d].event is not a function
brushReset.js:24:10`

Very best,
Josh

[2018-07-10 20:58] bfischer1121 commented on #20
Get the same error with unejected CRA 2.x (react-scripts@2.0.0-next.3e165448) on webpack 4.8.3
[code]

[2018-07-10 21:56] bfischer1121 commented on #20
Relevant issues: webpack/webpack#6699 and apollographql/react-apollo#1737

Changing `parcoords.mjs` to `parcoords.esm.js` avoided the issue, but I opted for this for the time being:
[code]
(`parcoord-es/parcoords.css` -> `parcoord-es/dist/parcoords.css` too)

Thanks.

[2018-07-10 23:27] timelyportfolio opened #31 "brush arguments for external visibility"
@BigFatDog, as I thought more about this the commit comments https://github.com/BigFatDog/parcoords-es/commit/d95b853da22cb9c80f4d0e2905673ca2b1f773d8#r29660382 probably are not the best way to discuss new features :).  Promoting this to a new issue will give us a better opportunity to discuss and track.

this [`call`](https://github.com/BigFatDog/parcoords-es/blob/master/src/brush/1d/brushFor.js#

[2018-07-13 16:21] timelyportfolio commented on #25
@sam140 this is my best guess as to what you might be trying to achieve.  See [example](https://beta.observablehq.com/@timelyportfolio/parcoord-es-with-overlay-lines(.

![image](https://user-images.githubusercontent.com/837910/42702366-e59f7146-868e-11e8-80bd-3ed2ed57a20e.png)

[2018-07-13 16:44] BigFatDog commented on #20
[v2.1.6](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.6) has been published with the bug-fix. I've tested in a webpack 4 project and it works.

Although the original issue is based on `angular`'s `ng build` but not on `webpack 4`, I think `v2.1.6` should fix the original issue, too.

If anyone is still using previous versions with `webpack 4`. Please upgrade  `parcoord-es` or consid

[2018-07-13 16:53] #27 closed

[2018-07-13 22:00] ciukstar commented on #20
No more errors on `ng build`. Issue fixed. Thanks!

[2018-07-13 22:00] #20 closed

[2018-07-14 19:50] BigFatDog commented on #20
You're welcome. 😃

[2018-07-15 01:18] BigFatDog commented on #31
I have gone through your pull request and have a question on API design.

We may discuss either here or in the pull request.

[2018-07-18 21:59] timelyportfolio commented on #25
The other possibly better approach would be to wait until the axes are drawn and add the horizontal lines to the axes `g` element, so the lines would move along with the axis on reorder.

[2018-07-19 02:02] BigFatDog commented on #25
Thank you @timelyportfolio for the demo usage.
This issue doesn't look like a feature to be implemented. @timelyportfolio 's demo is a good reference to this issue. I want to make a `Gallery` section in readme to link those useful demos later.

However, @sam140, if you find an api of parcoords is insufficient or inconvenient to use when you add overly on parcoords, please tell me. I'll see what I

[2018-07-22 13:50] BigFatDog commented on #30
Reproduced. When double click to flip an axis, there is also another minor bug:
[code]
Will be fixed together.

[2018-07-22 20:48] BigFatDog commented on #30
[v2.1.7](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.1.7) has been released with the bugfix

[2018-07-22 20:48] #30 closed

[2018-07-24 21:41] Abhijeet-Das opened #39 "Shuffling/ Reordering axis in progressive rendering parallel coordinate d3 V4?"
Hello,

I have been referring to https://bl.ocks.org/syntagmatic/482706e0638c67836d94b20f0cb37122
for progressive rendering in parallel coordinate d3 v4. Do we have an example where we can reorder the axis; like drag and put the axis from one end to other.

Any help or suggested examples will be highly appreciated.
Thanks

[2018-07-25 03:54] BigFatDog commented on #39
Hi Abhijeet,
[brushing.html](https://github.com/BigFatDog/parcoords-es/blob/master/demo/brushing.html) shows the usage of reordering.

To make a parcoords reorder-able (this code is from brushing.html):
[code]
Is this what you are looking for?

[2018-07-25 14:44] Abhijeet-Das commented on #39
Hello,
Thanks for your prompt reply.
Yes exactly like that, but since I was referring to simpler progressive rendering like that https://bl.ocks.org/syntagmatic/482706e0638c67836d94b20f0cb37122
So I was wondering is there an option to add reorder/shuffle axis code to this. Would you suggest any method that I can directly apply in order to get axis shuffling !

Thanks again for your time.

[2018-07-26 16:14] BigFatDog commented on #39
You're welcome!

I'm confused. Are you asking how to reorder axes in the chart that you provided?
Or requesting a feature that should be implemented in `parcoords-es`?

Both progressive rendering and reorder functions are supported by `parcoords-es` and can be enabled in the same chart.

[2018-07-27 11:41] Abhijeet-Das commented on #39
Hello ,

Yes, I was actually asking how to reorder the axes in the chart provided. Sorry if my question created confusion.

Thanks and Regards

[2018-07-29 13:44] BigFatDog commented on #39
Never mind. The original parallel coordinates does have [`reorderable` api](https://github.com/syntagmatic/parallel-coordinates#parcoords_reorderable)

[2018-07-31 14:48] joshhjacobson opened #40 "feature request: allow user to set individual line types"
Hi again,

In the same way that a user can specify `pc.color()` with the argument being either a single color or a function, I think it would be useful if they could also specify line type. Canvas has the `lineWidth` property and `setLineDash()` method. Using these tools in conjunction, the user could specify many different line types. It could look something like this:

[code]
or
[code]

For char

[2018-08-01 02:12] BigFatDog commented on #40
Hi Josh,
Interesting. I agree to make `lineWidth` and `highlightedLineWidth` configurable. But I need a second thought on making `lineStyle` configurable.

# Approach 1: A general method for all lines
If the lineType is per datum (a conventional model for most of parcoords' apis), client's usage would be:
[code]
It would be a burden on end users because:
1. this api requires users know too many th

[2018-08-01 16:30] joshhjacobson commented on #40
Hmmm, you raise some very good points! I would be inclined to go with the following:
[code]
But like you mentioned, this breaks convention.

Alternatively, the second approach leaves us with:
[code]
and maybe also
[code]
This does seem like a lot, so I guess we have to weigh our options between freedom of flexibility and easy of use. For reference, the folks at [ggplot](https://ggplot2.tidyverse.o

[2018-08-03 18:33] BigFatDog commented on #40
Yes, it is over complicated. I tend to not to implement this feature for now. I hope it is OK for you.

I've have a look at the `ggplot`. I will have a closer look at it, not for this feature, but for my future projects.

Thanks for this feature request.

[2018-08-13 15:11] timelyportfolio commented on #31
Thanks so much @BigFatDog.  I will likely have other ideas over the next couple of months and am excited about helping as much as I can.

[2018-08-13 15:11] #31 closed

[2018-08-14 00:44] BigFatDog commented on #31
You're welcome. I'm happy to see new ideas. See you then!

[2018-09-13 15:58] timelyportfolio opened #45 "outside filters with brushes"
### Summary

Often in integrated applications with parallel coordinates, I need the ability to filter the parallel coordinates from outside with other controls, such as HTML inputs or supplementary visualizations.  Here is a very minimal [example](https://bl.ocks.org/timelyportfolio/3ce920d1184d5bd2436bca0560751885) demonstrating the concept with a modified version of the original parallel-coordin

[2018-09-13 18:41] gordonwoodhull commented on #45
Thanks @timelyportfolio! Yes, I've been trying to create [a wrapper](https://github.com/gordonwoodhull/dc.parallel-coordinates.js) for this library to interface with dc.js.

What I have tried so far is simply to replace the data whenever there is filtering on the dc.js side... that's how dc.js usually does things.

Performance is okay (for the cars dataset) and it sort of works as long as you brus

[2018-09-13 22:43] gordonwoodhull commented on #45
Ah, right, I missed that. Most likely you will get to it before me, but I'll let you know if I try anything!

[2018-09-14 22:55] joshhjacobson opened #46 "Left-most axis label cut off"
Hi again,

I believe this is a minor formatting bug as it did not happen in the original parallel-coordinates examples. For longer axis labels, the left-most text is cut off at the edge of the chart's canvas layer. Below is a screen shot of the example in `basic.html` where the _economy (mpg)_ variable is cut off.

![image](https://user-images.githubusercontent.com/23021614/45578360-492d7880-b83e-

[2018-09-20 23:49] joshhjacobson commented on #26
Hi there,

I recently came across an error that might shed some light on this issue. After calling `pc.hideAxis(array)` I go to update the chart with `pc.render().updateAxes(500)`. This generates the following error:

<img width="621" alt="screen shot 2018-09-20 at 5 37 57 pm" src="https://user-images.githubusercontent.com/23021614/45852399-dec47e80-bcfc-11e8-8c0f-ca5b5ae73274.png">

Which referen

[2018-09-24 16:59] wraseman commented on #26
I believe the issue that @joshhjacobson was running into is because the cars dataset we were using has a column of string data called 'names'. Josh and I were trying to implement some features, like k-means clustering, which perform some operation on the numerical data and the result generates a new column of numerical data. When we inadvertently tried to cluster string and names data, the cluster

[2018-09-25 01:01] joshhjacobson commented on #26
@wraseman just to clarify, the string/names data was excluded from the clustering operation. I agree that working with a combination of string and numeric data might be a suspect however. Another important detail here is that all data actually needs to be stored as string values to be compatible with parcoords -- after performing the numeric computations, I would convert all data back to a string

[2018-10-01 13:42] BigFatDog commented on #45
Closed due to inactivity

[2018-10-01 13:43] BigFatDog commented on #39
closed due to inactivity

[2018-10-01 13:43] #39 closed

[2018-10-02 01:05] timelyportfolio commented on #45
@BigFatDog @gordonwoodhull I assembled a proof of concept in the [`filters` branch](https://github.com/timelyportfolio/parcoords-es/tree/filters) using [`searchjs`](https://github.com/deitch/searchjs) as the query DSL.  Here is a live [example](https://timelyportfolio.github.io/parcoords-es/filters.html).

### Screenshot

![pc_filters](https://user-images.githubusercontent.com/837910/46323718-401a

[2018-10-04 14:07] BigFatDog commented on #45
@timelyportfolio
I have gone through your code. Per your questions:
1. We can apply `filter` function to other brushes after we agree on how to add this function.
2. I have no idea of a better name so far. `query` is not good because this function changes `parcoords` 's state other than reads data from `parcoords`. `filterWithQuery` is too long
3. Providing this function in a plug-in makes sense.

[2018-10-15 19:10] timelyportfolio commented on #31
I just realized that categorical scales don't work.  Will submit a pull with fix tonight.

[2018-10-17 01:35] timelyportfolio commented on #46
I believe this is answered in this StackOverflow [question](https://stackoverflow.com/questions/41941442/d3js-v4-scaleordinal-does-not-have-the-rangepoints/41945740).  @BigFatDog happy to submit a pull if you would like.  I think we can just supply `padding` to mimic the behavior from `d3v3`.

[2018-10-18 14:34] BigFatDog commented on #46
@timelyportfolio Sure, go ahead.

[2018-11-19 13:41] timelyportfolio commented on #46
@BigFatDog we can change with `.xscale.padding(?)`, but I think it would be good to have a sensible default.  Here is an [example] (https://timelyportfolio.github.io/parcoords-es/xscale-padding.html) to demonstrate the effect.  I think `0.1` or `0.2` will fairly closely replicate the old `parallel-coordinates` behavior.

Happy to submit pull once we decide on a good default.

[2018-11-21 07:13] joshhjacobson opened #50 "flip axes syntax?"
Hi,

I'm wondering what the correct syntax to flip an individual axis or set of axes is? In the original parallel-coordinates library, it went something like this:
[code]
but when I try that code here, there is no effect. I noticed that the `flipAxes` syntax is found in the `sideEffects.js` file, but there is another file in the api called `flip.js`.  The following does work, but only for one axis

[2018-12-05 02:55] joshhjacobson opened #51 "bundleDimension requires sylvester"
Hi there,

I'd really like to be able to use `pc.bundleDimension()` without having to include `sylvester.js` in my html header. The `vector` function in this library is used for `computeCentroids` and returns ```Uncaught ReferenceError: $V is not defined at computeCentroids``` when `sylvester.js` is not included in the script.

The good news is there is a somewhat new library [sylvester-es6](https

[2018-12-07 02:18] BigFatDog commented on #51
Sure, go ahead.

[2018-12-12 00:52] timelyportfolio commented on #25
@BigFatDog ok to close this one?

[2018-12-12 02:42] BigFatDog commented on #25
Sure.

[2018-12-12 02:42] BigFatDog commented on #25
This issue is closed because @timelyportfolio has already provided an example.

[2018-12-12 02:42] #25 closed

[2018-12-12 03:27] timelyportfolio opened #53 "brush.move instead of brush.extent in brushExtents"
In #6, a very helpful `brushExtents` method was fixed and provided to the API.  However, when setting brushExtents, I think we should use [`brush.move`](https://github.com/d3/d3-brush#brush_move) instead of [`brush.extents`](https://github.com/d3/d3-brush#brush_extent).  I'm not sure how best to provide a reproducible example, so I recorded the screenshot below.  I will submit a pull.  Thanks.

![

[2018-12-12 03:30] timelyportfolio commented on #53
Actually, to fix we only need to comment one line.

[2018-12-16 15:51] BigFatDog commented on #53
How about this?
`brushExtents` returns objects with value in the following format:
[code]
Code modifications
[code]

[2018-12-16 18:38] timelyportfolio commented on #53
@bigfatdog, I like this and will closely match our extra information from brush events (https://github.com/BigFatDog/parcoords-es/pull/44/files).  I am wondering though should we use the same names - `selection` for `dataRange` and `selection (raw)` for `brushRange`.   Also, we will need to use the `invertCategorical` ([lines](https://github.com/BigFatDog/parcoords-es/blob/master/src/brush/1d/brus

[2018-12-16 20:08] BigFatDog commented on #53
Your point makes sense. Pull request #55 has been created.

[2018-12-29 01:53] #51 closed

[2018-12-29 01:57] BigFatDog commented on #51
Thank you for this feature!
[v2.2.4](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.2.4) is released

[2018-12-29 05:17] joshhjacobson opened #57 "hideAxis is recently broken"
In [version 2.2.0](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.2.0), the bug fix in the `brushFor` function had the side effect of partially breaking `hideAxis`.  The function works when data is first added to the chart, but if called individually there is an error. The following, taken from the `brushing.html` demo, demonstrates the issue:
[code]
This gives:
[code]
In versions prior

[2019-01-01 17:21] timelyportfolio commented on #53
@BigFatDog going to close; thanks again

[2019-01-01 17:21] #53 closed

[2019-01-03 01:19] joshhjacobson commented on #57
@timelyportfolio thank you for the fast response, so glad you were able to figure this out so quickly!

[2019-01-10 19:57] NateSavidge commented on #40
Hi everyone,

I've just migrated my project from the original syntagmatic ParCoords library to this one. Thanks for all of the work you have put into this project!

One of the features that I had added to the original library was the ability to set a custom color for objects that are highlighted. When a line is marked, and then a second line is highlighted from another data viz component (like a d

[2019-01-12 09:16] joshhjacobson commented on #50
Update: After some investigation, I learned that the correct syntax is true to the original parallel-coordinates syntax. It should be
[code]
There was no effect before due to an incongruity with the `axis` variable being passed to `flipAxes` in `sideEffects.js` which left the function body of `flipAxes` empty when bundled. This has been remedied in #59.

[2019-01-12 09:16] #50 closed

[2019-01-12 09:53] joshhjacobson opened #60 "Flipped axes have empty brushes"
When an axis is upside down, regardless of whether it was flipped by double-clicking the title or with `pc.flipAxes`, brushing on that axis causes all polylines to disappear. However, if the axis is flipped back to its normal orientation, brushing works as expected. Interestingly, there is no console error...

Here is a quick screencast to illustrate the issue:
![flip_broken](https://user-images.g

[2019-01-21 14:50] benforsrup opened #62 "compute_real_centroids return empty array"
calling compute_real_centroids(row) returns nothing for me.
Tried `data.map((row) => compute_real_centroids(row))` and just return an empty array for each row.

What am I doing wrong?

[2019-01-25 02:44] BigFatDog commented on #62
This is confirmed a bug.
The bug-fix will be delivered in the next release.

[2019-01-30 15:53] gordonwoodhull commented on #45
Hi @timelyportfolio!

Found a spare moment to experiment with this.

Unfortunately I am still in the AMD era (this fork of parcoords just worked best for me, and seems to be the best maintained). And I couldn't get `parcoords.standalone.js` to build, probably because I don't have searchjs configured correctly:

[code]

I'm a bit lost. Is there a simple way to get it to build so I can test your API

[2019-01-30 16:04] BigFatDog commented on #45
Solution to the error message: add a `.babelrc` to your project and then run `rollup again`:
[code]
This will help transpile [spread operators](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax) in `es6`.

I did try once but found no good solution to integrate `search.js` in a `plug-in` style. I plan to try this again this weekend.

I can provide a feature b

[2019-01-30 16:26] gordonwoodhull commented on #45
Thanks @BigFatDog! Babel is new to me.

parcoords-es already has `.babelrc`, of course, so I think the problem is elsewhere. I also tried changing the `babelrc` of `searchjs/` but no dice.

If it makes any difference, I don't think I really need searchjs for my testing... I will be changing the selection in response to dc.js events

[2019-01-30 16:37] BigFatDog commented on #45
You’re welcome.
dc.js was one of important guides for me to learn d3.js. I knew existence of crossfilter via dc.js

I learn a lot from you.

[2019-01-30 17:30] gordonwoodhull commented on #45
Thanks @BigFatDog, that's nice to hear.

Really all the credit goes to @NickQiZhu and the many dozens of contributors.

For me it's an interesting social experiment, as I never maintained a popular open source library before. I try to help people out and eventually get stuff merged. It's a lot of work and I never have enough time. :blush:

[2019-01-31 03:07] timelyportfolio commented on #45
@gordonwoodhull glad you tried it out.  I can't get `searchjs` to work in the proper way either, so I have a hacked solution on my end as well.  I'll circle back and try to write a concise way to build and test.

Also, I think it might be helpful to go back and walk through the generic steps necessary to add in a filter with or without `searchjs`.  The reason I used `searchjs` was to avoid writing

[2019-02-16 16:25] arif-hanif opened #65 "is there a way to change the line to be a smooth curve?"
can the line curve be modified?

[2019-02-18 13:40] BigFatDog commented on #65
No, it cannot be modified.

I guess you were mentioning `d3 line interpolation`:
[code]

[2019-03-08 09:21] rvberloo opened #66 "add ability to brush null data"
I like the concept of displaying null data outside of the main chart, but I also would like to be able to include items that have a null value in the selection when brushing on that axis.
Either by a switch (include_nulldata_in_brush) per viewer, or per axis or by using a multi brush per axis and extending the brushable area to the axis regions where the null values are plotted.

Why: we use the p

[2019-03-23 02:27] arif-hanif opened #67 "example of how to make chart responsive size?"
is there an example of making the chart a responsive design fitting the window size?

[2019-03-30 01:04] BigFatDog commented on #67
This chart currently doesn't support responsive size.

I investigated into the code to see if responsive design can be achieved via any quick modifications, but found none.

[2019-04-03 13:00] rvberloo commented on #66
I am new to ES6 programming but got it running in VS code finally.. and nog get a bit more insight in the code
to make the selection of null data that is plotted outside of the axis happen should I adapt the brush extent ?  and why are there a different extent function for 1D and 1D-multi brushes?

[2019-04-03 23:30] BigFatDog commented on #66
The implementations of `1D` and `1D-multi` differ a lot. Therefore they are in separated modules. I have already forgotten the implementation details of `1D-multi`, it used to be based on (d3-multiple-brushes)[https://github.com/ludwigschubert/d3-brush-multiple] when this project is written in d3 v3. My current approach is based on the concept of [this block](https://bl.ocks.org/NGuernse/4c75a0511

[2019-04-04 07:40] rvberloo commented on #66
Hi XING yun, thanks for your reply
concrete code question: I am comparing the files BrushExtent,js for both the 1d brush and the 1d-multi brush. (Also because the 'brush with arguments' demo file fails for the 1d-multi brush, and I would like to extract these brush details also for multi brush)
These file look pretty similar in global structure but not 100% identical

eg

in 1d version :
[code]
in

[2019-04-04 10:34] gordonwoodhull commented on #66
[Array.push](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/push) returns the size of the array, not the array, so that line is suspicious.

[2019-04-08 18:31] BigFatDog commented on #66
@rvberloo
`raw` and `selection` were for `1d` brushes only.
I just made some changes to `1d-multi` brush so that it has the same behaviors as `1d` brush does

[code]
Above changes have been tested but not released yet. I feel there would be more modifications along with our discussion.

[2019-04-08 18:34] BigFatDog commented on #66
@gordonwoodhull
Yes it is.  Code has been changed.

[2019-04-09 09:28] rvberloo commented on #66
Thanks!  this helps a lot.
for our purpose we would like to report the brush selection to outside consumers and possibly store it to set the brushes also (create a stored parcoviewer session basically)
I am busy adding a function that will report the brush ranges (raw and scaled) regardless of the 1d or 1d multi brush settings. I will contribute this code once it is done off course

My original st

[2019-04-10 01:11] BigFatDog commented on #66
You're welcome.
I understand we're discussing two issues here:
* consistent brush ranges for `1d` and `1d-multi`
* brush selections for null values.

Do you need me to release a new version containing my modifications right now, or later with your PR instead?

[2019-04-10 06:18] rvberloo commented on #66
Hi,
I managed to get the brush ranges exported with a user function (which I added to the brush-with-arguments demo). I am still too inexperienced in node javascript programming to transform it into a proper separate file/ES6 module I am afraid. It does serve my need though: consistent reporting of brush ranges for all axes with brushes incl multibrushed ranges. I will share the changes I made, an

[2019-04-18 13:24] BigFatDog commented on #66
[v2.2.9](https://github.com/BigFatDog/parcoords-es/releases/tag/2.2.9) has been released to fix `brushExtent`

[2019-04-24 09:45] rvberloo commented on #66
Thanks!. This helps a lot in our goal to support parcoviewer sessions, where we store the data, and the active brush selections to be re-used later :-).

on the issue of the null data brushing, I think I can get this to work globally by modifying **selected.js**  to also return true when the data === undefined (only for numeric data).
I would prefer this to be a per-axis setting though, but for no

[2019-04-30 03:03] BigFatDog commented on #66
You're welcome!
I'll continue to investigate into null data brushing. I'll let you know my progress.

[2019-05-10 10:22] rvberloo opened #69 "v2.29 multibrush and hideAxis bug"
When using brushmode "1D-axes-multi"  and performing a hideAxis call an error occurs in brus\1d-multi\brushreset.js

It seems properties are read in a forEach of an object (the axis that was just hidden?) that does not exist.

I modified the slickgrid example file to create a ready to use example, this example adds a button that removes three axes. This works OK for brushmode "1D-axes" but fails f

[2019-06-18 17:40] arif-hanif commented on #60
I have the same issue, is there any resolution

[2019-06-24 14:20] BigFatDog commented on #69
[v2.2.10](https://github.com/BigFatDog/parcoords-es/releases/tag/v2.2.10) has been released to address this issue.

I've tested with example you provided:
1. Set brushes, click 'hide axis' and then set brushes again.
2. click 'hide axis' and set brushes.
3. click 'hide axis' and set brushes in turns.

[2019-06-27 11:51] rvberloo commented on #69
Works nicely, thanks!

[2019-06-27 12:33] BigFatDog commented on #69
You're welcome!

[2019-06-27 12:33] #69 closed

[2019-07-15 03:12] joshhjacobson commented on #69
@BigFatDog doesn't look like v2.2.10 is available through npm. Can you publish it there?

[2019-07-15 13:13] BigFatDog commented on #69
Done. My mistake.

[2019-07-15 14:26] BigFatDog opened #72 "Is it necessary to provide a React version for this library?"
Hello guys,
I'm wondering if it is necessary to build a `React` version of this library.

Currently I'm using this library in `React` apps with [React hooks](https://reactjs.org/docs/hooks-intro.html).
I feel it would be better if there were a `React` version, but only slightly better because I cannot see too much improvements there. I haven't found reason that firmly demands a `React` version so

[2019-07-17 15:36] joshhjacobson commented on #69
Thanks!

[2019-07-17 15:47] joshhjacobson commented on #72
Hi there,

I've never used `React` so I don't have much of an opinion on this. However, it would be nice if this library were easily compatible with the [Angular-Slickgrid](https://github.com/ghiscoding/Angular-Slickgrid) library -- it would be a powerful combination! I don't know the details of how `React` and `Angular` play together, but that may be worth taking into consideration.

Best,
Josh

[2019-07-20 01:39] BigFatDog commented on #69
You're welcome.

[2019-07-20 16:22] ajbouh opened #73 "Resize fixes in a sibling fork"
@BigFatDog Thanks for this awesome port! I'm trying to embed parcoords-es in a way that supports resizing, brushing, and updating data. The combination of these three creates problems for me when using brush modes "1D-axes" and "1D-axes-multi".

It seems like some of this may be addressed by https://github.com/autodesk-forks/parallel-coordinates/pull/1 and other recent commits in https://github.co

[2019-07-20 16:27] ajbouh commented on #13
I observe similar behavior when enabling shadows. When the viz is first displayed there is nothing brushed but the foreground is painted with the shadow color.

It seems to be related to whether or not the most recent method call on the parcoods instance was `.shadows()` or `.brushMode(...)`.

Maybe this is a useful clue as to what might be going on? A leak in canvas drawing state?

[2019-07-26 01:37] BigFatDog commented on #73
Hi @ajbouh
Thank you for your appreciation.
The autodesk fork that you mentioned are based on the original [parallel-coordinates](https://github.com/syntagmatic/parallel-coordinates) therefore that pull request cannot be applied to `parcoords-es` directly. Yes, the code has diverged too much.
I see two approaches here:
- I contact autodesk team to see if they have any plan to port their contributi

[2019-08-30 18:25] jvmanke commented on #72
Hey @BigFatDog maybe not build a separate library but maybe add some examples using it with react? I personally am strugling to get it working properly. Do you have a snippet I could look?

[2019-08-30 19:56] mateusrcm commented on #72
Yes, Please @BigFatDog

[2019-08-30 19:58] jonasarielberner commented on #72
@BigFatDog I am having trouble to work with parcoords-es in React! Please Help!

[2019-08-30 20:00] GZangs commented on #72
@BigFatDog Yes, it will be useful for me!

[2019-08-30 20:23] BigFatDog commented on #72
Would you please post your error messages here so that I can give it a try?

I just tested `parcoords-es` in a react app and it works. Environment and sample code are listed below:
dependencies:
[code]
devDependencies:
[code]

Sample code:
[code]

[2019-08-31 01:23] jvmanke commented on #72
I was actually not getting an error message, just the graph looked squished as if the height was 0. Your example made me realise I have to set the width/height on the container and it works, I had created a useD3 hook that abstracted that from me and I didn't realize.

Also, I think you should select by the ref you created right? Otherwise it is kinda unnecessary, however it is the recommended way

[2019-08-31 01:52] BigFatDog commented on #72
Yes. I just tested. I used id because I was not totally sure if the current parcoords would work with `chartRef.current`. Should try ref way first.

I get your point. I need to have a closer look to make sure if it is possible to do this without providing a whole new react version of `parccords-es`

It is about development time and library's quality:
1) A react version may need many iterations bef

[2019-08-31 02:06] BigFatDog commented on #72
This is practical. I'll do this.

[2019-08-31 02:09] BigFatDog opened #74 "Provide a react demo"
This is from discussion #72 Is it necessary to provide a React version for this library?
_Originally posted by @jvmanke in https://github.com/BigFatDog/parcoords-es/issues/72#issuecomment-526702172_

Need to provide a simple react app that with `parcoords-es`.

[2019-08-31 02:15] jvmanke commented on #72
Oh yeah, I wouldn't think mixing a react version within this repo would be the way to go, more like a separate lib that is a wrapper to this one serving as a abstraction to the whole d3 backend, which many people (including myself) that work with React are not familiar with.

[2019-09-02 15:44] IPWright83 opened #75 "Clicking the column titles hides data?"
I've noticed that a single click on one of the column titles causes the entire chart to render with no data. Am I missing something or is this a bug?

If this is a bug, any pointers as to where it might be located, might be able to look at fixing it. I've noticed it on the `slickgrid-hidex-axis.html` page.

![NoData](https://user-images.githubusercontent.com/1374775/64125144-ef9cc180-cda0-11e9-8c8

[2019-09-02 16:09] IPWright83 commented on #75
Ok so I've noticed some of the other examples don't do this. I think calling `reoderable()` effects it. If I turn this off then I can **single** click fine. Then if I **double** click the axis inverts and the chart renders empty at that point instead.

[2019-09-02 16:13] IPWright83 commented on #75
Ok so changing the brushMode to `1D-axes` seems to remove the problem. That'll be enough for me for the time being.

[2019-09-02 16:29] IPWright83 opened #76 "Change highlight opacity?"
There's a way to change the `alphaOnBrushed` setting which is great, but if I then use the `highlight` functionality that no longer gets respected. Is there a way to change the `alpha` for non highlighted polylines too?

[2019-09-02 17:18] jvmanke commented on #74
@BigFatDog  I've been working on a react wrapper  in [jvmanke/react-parcoords-es](https://github.com/jvmanke/react-parcoords-es/tree/dev), maybe it can give you some more inspiration on implementation!

[2019-09-02 18:23] jvmanke commented on #65
@arif-hanif You could use the smoothness function, it comes from the original API:

[code]

[2019-09-03 20:00] jvmanke opened #77 "Delegate styling to css"
Currently it is not possible to change axis stroke color through css.

In the `parcoords.css` such css property is set to a default, but it has no effect because these properties are set with d3s `.style()` function, having priority over css.

The values set through javascript are the same as the ones on the css sheet leading me to believe they are set as defaults.

Some of these properties are me

[2019-09-05 23:54] arif-hanif commented on #60
anyone working on this or should i give it a shot?

[2019-09-09 16:16] joshhjacobson commented on #60
@arif-hanif I would be great if you could give it a shot!

[2019-10-22 20:15] BigFatDog commented on #74
demo has been provided in `demo/react-app`

[2019-10-22 20:15] #74 closed

[2020-01-24 21:37] makotech222 opened #82 "markedLineWidth option doesn't seem to work"
I have a parcoords component set up and I'm trying to get the 'marked' data to appear very similar to selection via brushing. I've found that the line width option for marked doesn't actually change anything.

I'd appreciate also an easier way to make marked lines appear same as brushed lines. I'm using mark() to select data points that are selected in other components, and passed into parcoords.

[2020-05-07 07:37] ilanl opened #83 "Need best practice example of how to highlight from separate component"
First of all, thank you for this amazing library!

In react app: I'd like to know how to call highlight on pc chart from a react-table or similar 'mouseover' row action.
App has 2 components:
1. pc chart
2. a table or grid below

How can the chart register to another component mouseover event. what's the best practice here so both component are not tightly coupled? any idea?

[2020-05-10 11:35] xy2i commented on #83
Hi, here's how I approached it.
Suppose your structure is like this:
[code]
1. In your App component, have your app manage state for a highlight:
[code]
2. In your parcoords chart component, take the getter as a prop:
[code]
3. In your render, highlight as necessary. I'm using something like this:
[code]
4. Pass the setter prop to your table, and highlight on hover of a row, for example.
If your I

[2020-06-08 12:53] ilanl commented on #83
Thanks! perfect

[2020-06-08 12:53] #83 closed, assigned to nobody

[2020-06-08 12:55] ilanl opened #84 "How to make the header axis name on 2 lines"
My axis dimensions have long names,
Is there a way to make them appear on 2 lines nicely ?

[2020-06-09 12:39] ilanl opened #85 "ordinalScale for axis dimension - is it supported?"
I have an a dimension with a fixed domain for rating: ['A+', 'A', 'B', 'C', 'D', 'E', 'F']
I would like those values to appear on the rating axis even when there's no record with A+

Is that supported?
Using the https://github.com/syntagmatic/parallel-coordinates version, I was able to get the desired result using ordinalScale with fixed domain/range.

[2021-04-13 10:18] berci-i commented on #84
My approach was creating a function which returns a text on 2 lines and than replace the html of the title. (something like:
[code]
)
I am calling this function for each title element and than replace the html, also update the transform property.

Is kind of a weird approach but it does the job.

[2021-04-13 15:18] berci-i opened #89 "Manually reorder axis"
Is it possible to restore a manually saved order?

I am saving the value of `.getOrderedDimensionKeys()` in localStorage.
I tried to use something like `.reorder({ 1: -1, 355: 999999999, 21: -9, 778: 999 })`, `.reorder(["355", "21", "778", "1"])`, `.dimensions({ 355: 999999999, 21: -9, 778: 999, 1: -1 })` and `.dimensions(["355", "21", "778", "1"])` with calling `.render().updateAxes()` after each

[2021-04-16 00:31] solidchu commented on #60
number: function number(d, p, dimension) {
            if (typeof config.dimensions[p].yscale.bandwidth === 'function') {
              // if it is ordinal
              return extents[dimension][0] <= config.dimensions[p].yscale(d[p]) && config.dimensions[p].yscale(d[p]) <= extents[dimension][1];
            } else {
              if (extents[dimension][0]>extents[dimension][1])
                r

[2021-05-13 21:43] berci-i commented on #66
Hello!

Is there any option to rebrush over an axe with values of 0? I am asking because I can see the raw values of the brushes, but the scaled values are, of course [0].
But we should use the brushes values to generate new values (from backend) and we could store this, but we would also like to keep this values on refresh and/or  state change. So is there any option to update the visual effect o

[2021-07-08 10:20] divyaeM opened #94 "How to make brushExtent() work with ordinal data?"
Hey @BigFatDog, Thanks for developing this awesome library.

I am wondering if you could implement the change in `brushExtent()` to load data from ordinal scales. Currently, it fails because to my understanding you expect scaled and inverted values for input.

It may be a good idea to get raw selection inputs and make it work on ordinal scale as well.

[2021-09-02 09:43] reigun02 opened #96 "What is the event when reordering axes"
I have tried the "axesreorder" event and it's not triggering the event listener when I'm reordering the axes. "brush" event listeners are working fine so far.

![image](https://user-images.githubusercontent.com/30021612/131821586-09b52d1a-d944-4d46-ad20-a1e2b13e510a.png)

[2021-09-03 13:51] berci-i commented on #89
If anyone needs help on this, it can be accomplished by adding index to dimensions (source  [parallel-coordinates](https://github.com/syntagmatic/parallel-coordinates#parcoords_dimensions) )
I initially missed it because ` index": Integer position for ordering dimensions on the x axis` part on the same line with yscale and I was not sure it was supposed to be on dimensions😅

[2021-09-03 13:57] Berci-Ionut commented on #96
I am not sure if this is the best way, but
`const dragBehaviour = d3.drag().on("end", (e, d) => {
        console.log(e, d, chart.getOrderedDimensionKeys())
      })`
seems to to it for me.

[2021-09-03 14:05] #89 closed, assigned to nobody

[2022-02-11 15:47] mke21 opened #99 "Selection does not seem to work when inverting axis"
If I invert an axis, I seem to lose the brushes on that axis. Also making a new bush on that axis does not seem to work anymore.

![Schermafbeelding 2022-02-11 164414](https://user-images.githubusercontent.com/4930603/153622756-86c944da-a830-4a3d-b6c3-75634a51071d.jpg)

[2022-03-08 08:18] mke21 commented on #99
Is this project dead?